<header id="site_banner_lg">
    	<div class="container-fluid">
			<div class="row zsx">
				<div class="col-lg-12 animated lightSpeedIn">
					<p class="vcenter">
					<h1><i class="fa fa-bomb fa-lg"></i>ScrapLocker</h1>
					<h3>Plan. Do. Share.</h3>
					</p>
				</div>
			</div>
		</div>
</header>